<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List</title>
    </head>
    <body>
        {% for restaurant in restaurants %}
            <a href="/restaurants/detail/{{restaurant.id}}">

                <ul>
                    <li>
                      <h1>{{restaurant.name}}</h1>
                    </li>
            </a>
                    <li>
                      <h1>{{restaurant.description}}</h1>
                    </li>
                </ul>

        {% endfor %}
    </body>
</html>
